# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Uploaded files
uploads/

# Chroma database
chroma_db/

# Environment variables
.env

# IDE
.vscode/
.idea/
